<div >
    <div >
        &nbsp;
    </div>
    <div >
        <h2>Login</h2>
        <p >If you have Username and Password, you can use the button below to access the secured content using a token.</p>
        <p><a class="btn btn-info" href="#/login" role="button">Login &raquo;</a></p>
    </div>
    <div >
        <h2>Sign Up</h2>
        <p >Use the button below to create Username and Password to access the secured content using a token.</p>
        <p><a  href="#/signup" role="button">Sign Up &raquo;</a></p>
    </div>
    <div >
        &nbsp;
    </div>
</div>